*{
    margin: 0;
    padding: 0;
}

a:link {color:#ffffff;}      
a:visited {color:#ffffff;}  
a:hover {color:#ffff00;}  
a:active {color:#ffffff;}  

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(200deg,#f3e7e9,#e3eeff);
}
.container{
    position: relative;
    width: 650px;
    height: 415px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
    background-color: #fff;
}

.form-box{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -10%;
    left: 3%;
    z-index: 2;
    width: 320px;
    height: 500px;
    border-radius: 5px;
    box-shadow: 2px 0 10px rgba(0,0,0,0.1);
    background-color: #6e1fa7;
    transition: 0.5s ease-in-out;
}

.register-box,
.login-box{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.hidden{
    display: none;
    transition: 0.5s;
}

.form-box .register-box h1,
.form-box .login-box h1{
    margin-bottom: 25px;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 5px;
    text-align: center;
    text-transform: uppercase;
    text-shadow:#5b1690;
}

.form-box .register-box input,
.form-box .login-box input{
    margin: 8px 0;
    padding: 10px 0;
    width: 70%;
    color: #fff;
    text-indent: 10px;
    font-size: 14px;
    letter-spacing: 2px;
    border: none;
    border-bottom: 1px solid #a262ad80;

    background-color: transparent;
}

.form-box .register-box input::placeholder,
.form-box .login-box input::placeholder{
    color: #fff;
}

.form-box .register-box input:focus,
.form-box .login-box input:focus{
    outline: none;
    border-bottom: 1px solid rgba(255,255,255,0.4);

    transition: 0.5s;
}

.form-box .register-box input:focus::placeholder,
.form-box .login-box input:focus::placeholder{
    opacity: 0;
}

.form-box .register-box .code {
    position: absolute;
    top: 230px;
    right: 55px;
    height: 25px;
    width: 13%;
    font-size: 12px;
    color: #6e1fa7;
    letter-spacing: 2px;
    text-align: center;
    line-height: 26px;
    outline: none;
    border: none;
    border-radius: 2px;
    background-color: #f6f6f6;
    cursor: pointer;
}

.form-box .register-box .code:hover{
    color: #f6f6f6;
    background-color: #6e1fa7;
    transition: background-color 0.5s ease;
}


.form-box .register-box button,
.form-box .login-box button {
    margin-top: 35px;
    margin-bottom: 20px;
    padding: 13px;
    width: 70%;
    color: #6e1fa7;
    letter-spacing: 2px;
    outline: none;
    border: none;
    border-radius: 8px;
    background-color: #f6f6f6;
    cursor: pointer;
}

.form-box .register-box button:hover,
.form-box .login-box button:hover{
    color: #f6f6f6;
    background-color: #6e1fa7;
    transition: background-color 0.5s ease;
}

.con-box{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 50%;
    width: 50%;
    transform: translateY(-50%);
}

.con-box.left{
    left: -2%;
}

.con-box.right{
    right: -2%;
}

.con-box h2{
    margin-bottom: 4px;
    color: #8e9aaf;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 3px;
    text-align: center;
}

.con-box p{
    color: #8e9aaf;
    font-size: 12px;
    letter-spacing: 2px;
    text-align: center;
}

.con-box span{
    color: #5b1690;
}

.con-box img{
    margin: 40px 0;
    width: 150px;
    height: 150px;
    opacity: 0.9;
}

.con-box button{
    margin-top: 3%;
    padding: 6px 10px;
    color: #6e1fa7; 
    letter-spacing: 1px;
    outline: none;
    border: 1px solid #6e1fa7;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
}

.con-box button:hover{
    background-color: #d3b7d8;
    color: #fff;
}

.foto{
    border-radius: 15px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}