<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>稻香湖学校公益时长</title>
    <link rel="stylesheet" href="/static/css/student.css">
    
</head>
<body>
    <nav class="navbar">
        <div class="navbar-brand">
            <img src="/static/imgs/logo3.png" alt="Logo" class="navbar-logo">
        </div>
        <div >
            <a href="#" class="logout">Logout</a>
        </div>

    </nav>

    <div class="dynamic-background">
        <div class="spacer">

        </div>
        <div class="tunnel">
            <div class="time-section" onclick="showDetails(1)">Grade09</div>
            <div class="time-section" onclick="showDetails(2)">Grade10</div>
            <div class="time-section" onclick="showDetails(3)">Grade11</div>
            <div class="time-section" onclick="showDetails(4)">Grade12</div>
        </div>
        <div class="details-section" id="detailsGrade09" style="display:none">
            <h3>Grade 9 Activities</h3>
            <ul>
                <li>
                    <div class="status"><button class="myButton"></button>
                    </div>
                    <div class="type">type</div>
                    <div class="start-time">start-time</div>
                    <div class="endup-time">end</div>
                    <div class="duration">100hr</div>
                    <div class="prove"></div>
                </li>
                <li>
                    <div class="status"><button class="myButton"></button>
                    </div>
                    <div class="type">type</div>
                    <div class="start-time">start-time</div>
                    <div class="endup-time">end</div>
                    <div class="duration">100hr</div>
                    <div class="prove"></div>
                </li>
                <li>
                    <div class="status"><button class="myButton"></button>
                    </div>
                    <div class="type">type</div>
                    <div class="start-time">start-time</div>
                    <div class="endup-time">end</div>
                    <div class="duration">100hr</div>
                    <div class="prove"></div>
                </li>
            </ul>
        </div>
        <div class="details-section" id="detailsGrade10" style="display:none">
            <h3>Grade 10 Activities</h3>
            <ul>
                <li>
                    <div class="status"><button class="myButton"></button>
                    </div>
                    <div class="type">type</div>
                    <div class="start-time">start-time</div>
                    <div class="endup-time">end</div>
                    <div class="duration">100hr</div>
                    <div class="prove"></div>
                </li>
                <li>
                    <div class="status"><button class="myButton"></button>
                    </div>
                    <div class="type">type</div>
                    <div class="start-time">start-time</div>
                    <div class="endup-time">end</div>
                    <div class="duration">100hr</div>
                    <div class="prove"></div>
                </li>
                <li>
                    <div class="status"><button class="myButton"></button>
                    </div>
                    <div class="type">type</div>
                    <div class="start-time">start-time</div>
                    <div class="endup-time">end</div>
                    <div class="duration">100hr</div>
                    <div class="prove"></div>
                </li>
            </ul>
        </div>
        <div class="details-section" id="detailsGrade11" style="display:none">
            <h3>Grade 11 Activities</h3>
            <ul>
                <li>
                    <div class="status"><button class="myButton"></button>
                    </div>
                    <div class="type">type</div>
                    <div class="start-time">start-time</div>
                    <div class="endup-time">end</div>
                    <div class="duration">100hr</div>
                    <div class="prove"></div>
                </li>
                <li>
                    <div class="status"><button class="myButton"></button>
                    </div>
                    <div class="type">type</div>
                    <div class="start-time">start-time</div>
                    <div class="endup-time">end</div>
                    <div class="duration">100hr</div>
                    <div class="prove"></div>
                </li>
                <li>
                    <div class="status"><button class="myButton"></button>
                    </div>
                    <div class="type">type</div>
                    <div class="start-time">start-time</div>
                    <div class="endup-time">end</div>
                    <div class="duration">100hr</div>
                    <div class="prove"></div>
                </li>
            </ul>
        </div>
        <div class="details-section" id="detailsGrade12" style="display:none">
            <h3>Grade 12 Activities</h3>
            <ul>
                <li>
                    <div class="status"><button class="myButton"></button>
                    </div>
                    <div class="type">type</div>
                    <div class="start-time">start-time</div>
                    <div class="endup-time">end</div>
                    <div class="duration">100hr</div>
                    <div class="prove"></div>
                </li>
                <li>
                    <div class="status"><button class="myButton"></button>
                    </div>
                    <div class="type">type</div>
                    <div class="start-time">start-time</div>
                    <div class="endup-time">end</div>
                    <div class="duration">100hr</div>
                    <div class="prove"></div>
                </li>
                <li>
                    <div class="status"><button class="myButton"></button>
                    </div>
                    <div class="type">type</div>
                    <div class="start-time">start-time</div>
                    <div class="endup-time">end</div>
                    <div class="duration">100hr</div>
                    <div class="prove"></div>
                </li>
            </ul>
        </div>
        <h2 class="chart-heading">Types</h2>
        <div class="programming-stats">
          <div class="chart-container">
            <canvas class="my-chart"></canvas>
          </div>
    
          <div class="details">
            <ul></ul>
          </div>
        </div>

        <div class="innersubmit">
            <form id="projectForm" class="form-styled">
                <div class="form-row">
                    <label for="grade">年级:</label>
                    <select id="grade" name="grade" class="form-control">
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select>
                </div>
        
                <div class="form-row">
                    <label for="category">类别:</label>
                    <select id="category" name="category" class="form-control">
                        <option value="1">Community Service</option>
                        <option value="2">Independent Research</option>
                        <option value="3">Community Orcanizations</option>
                        <option value="4">Career Development</option>
                        <option value="5">Field Work</option>
                    </select>
                </div>
        
                <div class="form-row">
                    <label for="title">标题:</label>
                    <input type="text" id="title" name="title" class="form-control">
                </div>
        
                <div class="form-row">
                    <label for="startDate">开始时间:</label>
                    <input type="date" id="startDate" name="startDate" class="form-control">
                </div>
        
                <div class="form-row">
                    <label for="endDate">结束时间:</label>
                    <input type="date" id="endDate" name="endDate" class="form-control">
                </div>
        
                <div class="form-row">
                    <label for="duration">时长:</label>
                    <input type="number" id="duration" name="duration" class="form-control">
                </div>
        
                <div class="form-row">
                    <label for="fileUpload">文件上传:</label>
                    <input type="file" id="fileUpload" name="fileUpload" class="form-control">
                </div>
        
                <div class="form-row">
                    <button type="submit" class="btn-submit">提交</button>
                </div>
            </form>
        </div>
        
    </div>




    <footer class="footer">
        <div class="footer-content">
        </div>
        <div class="footer-bottom">
            &copy; THISDLtimecount.com | Designed by <a href="http://studio.krypoto.top" class="hooverf">krypoto</a>
        </div>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/static/js/student.js"></script>
</body>
</html>
